<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--本地数据库-->
    <add name="strCoon" connectionString="Data Source=10.8.214.113;Initial Catalog=SolderPaste;User ID=common;pwd=common;"/>
  </connectionStrings>
 <appSettings>
    <add key="LogPath" value="D:\MyServiceResponseLog.txt"/>
   <add key="FileConfigPath" value="E:\newSolder\Solder_Response_WinFrm\bin\Debug\"/>
  </appSettings>
</configuration>