
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>UI Template | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="~/Scripts/dist/img/theme/favicon.png">
    <link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Scripts/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Scripts/plugins/ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="~/Scripts/dist/css/main.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Scripts/plugins/iCheck/square/blue.css">
    <link href="~/Scripts/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <style>

        body {
            background: url(/Scripts/dist/img/theme/bosch-supergraphic-bg.png);
            background-size: cover;
        }

        .login-box-msg, .register-box-msg {
            font-weight: bold;
            font-size: 1.8rem;
        }
    </style>
</head>
<body class="skin-bosch-alt">
    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:;"><img src="~/Scripts/dist/img/theme/bosch_logo_english.png" alt="Bosch IoT Cloud" /></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"></p>
            <!-- <p class="login-box-msg">Sign in to start your session</p> -->
            <form action="~/Scripts/index2.html" method="post">
                <div class="form-group has-feedback">
                    <input type="email" id="username" class="form-control" placeholder="Username" />
                    <!--span class="glyphicon glyphicon-envelope form-control-feedback"></span-->
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="password" class="form-control" placeholder="Password" />
                    <!--span class="glyphicon glyphicon-lock form-control-feedback"></span-->
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <!-- <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button> -->
                        <a href="javascript:;" id="" onclick="LoginCheck()" class="btn btn-primary btn-block btn-flat">Sign In</a>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
            </div> -->
            <!-- /.social-auth-links -->
            <a href="#">I forgot my password</a>
            <br>
            <a href="register.html" class="text-center">Register a new membership</a>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <script src="~/Scripts/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <!-- layer弹出层插件 -->
    <script src="~/Scripts/plugins/layer/layer.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script>
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) { // enter 键
                //要做的事情
                LoginCheck();
            }
        };

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
        function LoginCheck() {
            var us = $("#username").val();
            var pw = $("#password").val();
            if (us == "") {
                layer.alert('用户名不能为空，请重新输入', {
                    icon: 3,
                    skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                })
                return;
            }
            if (pw == "") {
                layer.alert('密码不能为空，请重新输入', {
                    icon: 3,
                    skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                })
                return;
            }

            $.ajax({
                type: "POST",//提交方式
                data: { "us": us, "pw": pw },
                url: "/Login/CheckUser",//发送处理页面

                success: function (data) {

                    if (data == 0) {
                        window.location.href = "/Home/OldIndex";
                    }
                    else if (data == 1) {
                        layer.alert('密码错误!', {
                            icon: 3,
                            skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                        })
                    }
                    else if (data == 2) {
                        layer.alert('用户名不存在!', {
                            icon: 3,
                            skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                        })
                    } else {
                        layer.alert('系统异常!', {
                            icon: 3,
                            skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                        })
                    }
                }
            });

        }
    </script>
</body>
</html>
